body {
    background: #020617;
    color: white;
    font-family: Arial;
    text-align: center;
}

/* CONTAINER */
.container {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

/* BOX */
.box {
    width: 40%;
    padding: 20px;
    border-radius: 12px;
    background: #020617;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* THEMES */
.traditional {
    border: 2px solid #ef4444;
}

.blockchain {
    border: 2px solid #22c55e;
}

/* FLOW TEXT */
.flow p {
    margin: 8px 0;
}

/* FLOW VISUAL */
.flow-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.flow-box {
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}

.red {
    background: #7f1d1d;
}

.green {
    background: #064e3b;
}

/* GRAPH */
canvas {
    width: 60% !important;
    margin-top: 20px;
}