<!DOCTYPE html>
<html>
<head>
    <title>Secure Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

<div class="terminal">

    <h2>🔐 AuthChain Secure Access</h2>

    <!-- ERROR -->
    {% if error %}
        <div class="attack-warning" id="attackBox">
            ⚠️ Unauthorized Access Detected!
        </div>
    {% endif %}

    <form method="POST">

        <input type="text" name="username" placeholder="> Enter Username" required>

        <input type="password" name="password" placeholder="> Enter Password" required>

        <button type="submit">ACCESS SYSTEM</button>

    </form>
    <div class="attack-monitor">
    <h4>🛡 Brute-force Monitor</h4>
    <p>Attempts: <span id="attemptCount">0</span></p>
    <p>Status: <span id="attackStatus">Normal</span></p>
</div>
    <p class="register">
        New user? <a href="/register">Create Identity</a>
    </p>

</div>

<!-- 🔥 ATTACK ANIMATION SCRIPT -->
<script>
window.onload = function() {
    let box = document.getElementById("attackBox");

    if (box) {
        box.classList.add("show");

        // Screen glitch effect
        document.body.classList.add("glitch");

        setTimeout(() => {
            box.classList.remove("show");
            document.body.classList.remove("glitch");
        }, 3000);
    }
};
</script>
<script>
let alarmPlayed = false;

function updateAttackMonitor() {
    fetch('/attack_status')
    .then(res => res.json())
    .then(data => {

        document.getElementById("attemptCount").innerText = data.attempts;
        document.getElementById("attackStatus").innerText = data.status;

        let lockBox = document.getElementById("lockBox");
        let timer = document.getElementById("timer");
        let button = document.querySelector("button");

        if (data.locked) {
            lockBox.style.display = "block";
            timer.innerText = data.remaining;

            button.disabled = true;
            button.innerText = "LOCKED";

            // 🔊 PLAY ALARM ONCE
            if (!alarmPlayed) {
                document.getElementById("alarmSound").play();
                alarmPlayed = true;
            }

        } else {
            lockBox.style.display = "none";
            button.disabled = false;
            button.innerText = "ACCESS SYSTEM";
            alarmPlayed = false;
        }
    });
}

setInterval(updateAttackMonitor, 1000);
</script>
<div class="lock-box" id="lockBox">
    🔒 Account Locked<br>
    Unlock in <span id="timer">0</span>s
</div>

<audio id="alarmSound">
    <source src="https://www.soundjay.com/buttons/beep-07.wav" type="audio/wav">
</audio>
</body>
</html>