<!DOCTYPE html>
<html>
<head>
    <title>Manual Hash Verification</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/manual_hash.css">
</head>
<body>

<h2>🔐 Manual Hash Verification</h2>

<form method="POST">
    <input type="text" name="username" placeholder="Enter Username" required><br><br>
    <textarea name="hash" placeholder="Paste Hash Value" rows="4" required></textarea><br><br>
    <button type="submit">Verify Hash</button>
    <p id="loading" style="display:none; color:#38bdf8;">🔄 Verifying Hash...</p>
</form>

{% if result %}
    <h3>{{result}}</h3>
{% endif %}
<script>
document.querySelector("form").addEventListener("submit", function(){
    document.getElementById("loading").style.display = "block";
});
</script>

</body>
</html>